.nav {
	margin-left: auto;
	display: flex;
	align-items: stretch;
	margin-right: 16px;
}

.nav__list {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
}

.nav__elem {
	display: flex;
	position: relative;
	align-items: stretch;
}

.nav__link {
	display: flex;
	position: relative;
	align-items: center;
	@include ubuntu(medium);
	text-transform: uppercase;
	color: #fff;
	margin-left: 35px;
	font-size: rem(13px);
	text-decoration: none;
}

.nav__elem:first-child:after {
	content: '';
}

.nav__elem:after {
	content: '\2022';
	color: #fff;
	font-size: rem(12px);
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translate(0, -50%);
}


.nav__mobile {
	position: fixed;
	background-color: #2f3234;
	top: rem(-10000px);
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	opacity: 0;
	

	&_active {
		top: 0;
		opacity: 1;
	}
}

.nav__mobile-close {
	position: absolute;
	top: rem(32px);
	right: rem(20px);
	width: rem(18px);
	height: rem(18px);
	fill: #c1c2c2;
}

.nav__mobile-logo {
	margin-top: rem(12px);
	margin-left: rem(22px);
}


.mobile__menu-list {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.mobile__menu-item {
	margin-top: rem(60px);
	position: relative;	
	
}

.mobile__menu-item:after {
	content: '';
	display: inline-block;
	background-color: #fff;
	width: rem(10px);
	height: rem(10px);
	position: absolute;
	bottom: rem(-34px);
	left: 50%;
	transform: translate(-50%,0);
	border-radius: 50%
}

.mobile__menu-link {
	@include ubuntu($style: light);
	font-size: rem(24px);
	color: #fff;
	text-decoration: none;
			
}


