.popup {
  position: fixed;
  background-color: #fff;
  top: rem(-1000px);
  left: 0;
  width: rem(460px);
  height: rem(254px);
  z-index: 1000;
  opacity: 0; }
  .popup_active {
    top: 0;
    opacity: 1; }

.popup-close {
  position: absolute;
  top: rem(32px);
  right: rem(20px);
  width: rem(18px);
  height: rem(18px);
  fill: #c1c2c2; }
